body:before,
body:after {
  content: '';
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  height: 15px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 15px solid white;
  border-right: 15px solid white;
}

@media /* Fairly small screens including iphones */ only screen and (max-width: 500px),
  /* iPads */ only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #top,
  #bottom,
  #left,
  #right {
    display: none;
  }
}
