.footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: column;
  align-content: end;
  justify-content: end;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 20px;
}

.icon {
  color: #424642;
}

.icon:hover {
  color: #c06014;
}
