@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

// components
@import './components/index.scss';

body {
  background-color: $backgroundColor;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'profile-pic  header-container'
    'bio          navbar'
    'bio          footer';
}
